/*@define-color background rgba (142,134,111,0.9);*/
@define-color background rgba (255,255,255,0.0);
/*@define-color background rgba (0,0,0,1.0);*/
@define-color widgets-background-dark #1c1c1f;
@define-color widgets-background-light #bc84af;
@define-color text-light #ffffff;
@define-color text-dark #ffffff;




#waybar {
  border: 0px;
  border-color: rgba (172,122,214,0.19);
  
border-radius: 0 0 0 0;
  border-style: solid;

  color: @text-light;
  background-color: @background;
/*background-color: rgba(36,33,47,0.2);
  color: rgba (255,255,255,0.2);
*/
  font-family: CaskaydiaCove Nerd Font;
  font-size: 16;

  opacity: 1.0;

}

#custom-menu{
  color: #7693fc;
  background-color: @widgets-background-dark;
  padding-left: 18px;
  padding-right: 20px;
  font-size: 19;
  margin: 4 4 4 8;
  border-radius: 7 7 7 7;
}

#clock {
  background-color: @widgets-background-dark;
  padding: 10 10 10 10;
  font-size: 16;
  margin: 4 4 4 4;
  border-radius: 7 7 7 7;


}

#custom-web{
  background-color: @widgets-background-dark;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 19;
  margin: 4 0 4 4;
  border-radius: 7 0 0 7;
}

#custom-terminal{
  background-color: @widgets-background-dark;
  padding-left: 12px;
  padding-right: 14px;
  font-size: 23;
  margin: 4 0 4 0;
  border-radius: 0 0 0 0;
}

#custom-apps{
  background-color: @widgets-background-dark;
  padding-left: 14px;
  padding-right: 18px;
  font-size: 19;
  margin: 4 0 4 0;
  border-radius: 0 0 0 0;
}

#custom-files{
  background-color: @widgets-background-dark;
  padding-left: 12px;
  padding-right: 18px;
  font-size: 19;
  margin: 4 0 4 0;
  border-radius: 0 0 0 0;
}

#custom-graph{
  background-color: @widgets-background-dark;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 19;
  margin: 4 0 4 0;
  border-radius: 0 0 0 0;
}

#custom-vnc{
  background-color: @widgets-background-dark;
  padding-left: 12px;
  padding-right: 18px;
  font-size: 16;
  margin: 4 4 4 0;
  border-radius: 0 7 7 0;
}

#pulseaudio-slider {
  background-color: @widgets-background-dark;
  border-radius: 7 7 7 7;
  margin: 4 4 4 4;
  font-size: 19;
}
#pulseaudio-slider slider {
  background-color: @background;
  border-radius:  17;

}
#pulseaudio-slider trough {
 margin: 0 5 0 5;

}
#pulseaudio-slider highlight {
min-width: 100px;

}

#custom-border-0 {

  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 6 0 0 6;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 19;
  margin: 4 0 4 4;
}

#custom-border-1 {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 0 0 0 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-pin {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 0 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-kill {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 0 6 6 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 4 4 0;
}

#custom-brightness {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 6 0 0 6;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 4;
}

#network {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#pulseaudio {
  background-color: @widgets-background-dark;
  color: @text-dark;
  border-radius: 0 6 6 0;
  padding-left: 18px;
  padding-right: 25px;
  margin: 4 4 4 0;
}

#battery {
  color: @text-light;
  background-color: @widgets-background-dark;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 19;
  border-radius: 7 7 7 7;
  margin: 4 4 4 4;

	}
	@keyframes blink {
	  to {
	    background-color: #f38ba8;
	  }
	}
	#battery.warning,
	#battery.critical,
	#battery.urgent {
	  background-color: #ff0048;
	  animation-name: blink;
	  animation-duration: 0.5s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}
	#battery.charging {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 19;
	}

#custom-powermenu {

  background-color: @widgets-background-dark;
  padding-left: 18px;
  padding-right: 20px;
  font-size: 19;
  margin: 4 8 4 4;
  border-radius: 7 7 7 7;

}



tooltip {
border-color: #38334b;
background-color: #14161b;
}

tooltip label {
background-color: #14161b;
font-family: JetBrainsMono Nerd Font;
font-size: 16;
}
