/*@define-color background rgba (0,0,0,0.00);*/
@define-color background #21222c;
@define-color widgets-background #21222c;
@define-color apps-background #21222c;
@define-color text #dee0fc;




#waybar {
  border: 0px;
  border-color: rgba (172,122,214,0.19);
  
border-radius: 0 0 0 0;
  border-style: solid;

  color: @text;
  background-color: @background;
/*background-color: rgba(36,33,47,0.2);
  color: rgba (255,255,255,0.2);
*/
  font-family: CaskaydiaCove Nerd Font;
  font-size: 16;

  opacity: 1.0;
  padding: 0 90 0 90;

}

#custom-menu{
  color: #ff0048;
  background-color: @widgets-background;
  padding-left: 18px;
  padding-right: 20px;
  font-size: 19;
  margin: 4 2 0 4;
  border-radius: 4 4 4 4;
}

#clock {
  color: @widgets-background;
  background-color: @text;
  font-size: 18;
  padding: 0 14 0 14;
  margin: 6 4 6 2;
  border-radius: 24 24 24 24;
}

#custom-browser-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 4 0 0 4;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 4;
}

#custom-terminal-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 23;
  margin: 4 0 4 0;
}

#custom-filemanager-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-protondrive-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-simplenote-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-radio-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-sahko-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-weather-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 0 0 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 0 4 0;
}

#custom-tori-app {
  background-color: @apps-background;
  color: @text;
  border-radius: 0 4 4 0;
  padding-left: 18px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 4 4 0;
}

#pulseaudio-slider {
  background-color: @widgets-background;
  border-radius: 4 0 0 4;
  margin: 4 0 2 4;
  font-size: 19;
}
#pulseaudio-slider slider {
  background-color: #26221a;
  border-radius:  17;

}
#pulseaudio-slider trough {
 margin: 4 4 0 4;

}
#pulseaudio-slider highlight {
min-width: 100px;

}

#pulseaudio {
  background-color: @widgets-background;
  color: @text;
  border-radius: 0 4 4 0;
  padding-left: 10px;
  padding-right: 25px;
  margin: 4 2 2 0;
}


#custom-brightness {
  background-color: @widgets-background;
  color: @text;
  border-radius: 4 0 0 4;
  padding-left: 18px;
  padding-right: 22px;
  font-size: 19;
  margin: 4 0 2 2;
}

#network {
  background-color: @widgets-background;
  color: @text;
  border-radius: 0 4 4 0;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 19;
  margin: 4 2 2 0;
}

#battery {
  color: @text;
  background-color: @widgets-background;
  padding-left: 18px;
  padding-right: 10px;
  font-size: 19;
  border-radius: 4 0 0 4;
  margin: 4 0 2 2;

	}
	@keyframes blink {
	  to {
	    background-color: #f38ba8;
	  }
	}
	#battery.warning,
	#battery.critical,
	#battery.urgent {
	  background-color: #ff0048;
	  animation-name: blink;
	  animation-duration: 0.5s;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}
	#battery.charging {
  padding-left: 18px;
  padding-right: 14px;
  font-size: 19;
	}

#custom-powermenu {

  background-color: @widgets-background;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 19;
  border-radius: 0 0 0 0;
  margin: 4 0 2 0;
}

#custom-swaync {

  color: #ff0048;
  background-color: @widgets-background;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 19;
  border-radius: 0 4 4 0;
  margin: 4 4 2 0;
}

tooltip {
border-color: #38334b;
background-color: #14161b;
}

tooltip label {
background-color: #14161b;
font-family: JetBrainsMono Nerd Font;
font-size: 16;
}
